In [1]:
import pandas as pd
import numpy as np

# Données fournies
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'tentatives': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualifier': ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Création du DataFrame
df = pd.DataFrame(exam_data, index=labels)

# 1. Afficher les trois premières lignes
print("Les trois premières lignes :")
print(df.head(3))

# 2. Supprimer les lignes avec des valeurs NaN
df_cleaned = df.dropna()
print("\nDataFrame après suppression des lignes avec des NaN :")
print(df_cleaned)

# 3. Extraire les colonnes 'name' et 'score'
name_score_df = df[['name', 'score']]
print("\nColonnes 'name' et 'score' :")
print(name_score_df)

# 4. Ajouter une nouvelle ligne 'k' au DataFrame
new_data = pd.DataFrame({'name': ['Suresh'], 'score': [15.5], 'tentatives': [1], 'qualifier': ['oui']}, index=['k'])
df = pd.concat([df, new_data])
print("\nDataFrame après ajout de la ligne 'k' :")
print(df)

# 5. Supprimer la colonne 'tentatives'
df = df.drop(columns=['tentatives'])
print("\nDataFrame après suppression de la colonne 'tentatives' :")
print(df)

# 6. Ajouter une colonne 'Succès'
df['Succès'] = np.where(df['score'] > 10, 1, 0)
print("\nDataFrame avec la nouvelle colonne 'Succès' :")
print(df)

# 7. Exporter le DataFrame final dans un fichier CSV
df.to_csv('my_data.csv', index=True)
print("\nLe DataFrame final a été exporté vers 'my_data.csv'.")

Les trois premières lignes :
        name  score  tentatives qualifier
a  Anastasia   12.5           1       oui
b       Dima    9.0           3       non
c  Katherine   16.5           2       oui

DataFrame après suppression des lignes avec des NaN :
        name  score  tentatives qualifier
a  Anastasia   12.5           1       oui
b       Dima    9.0           3       non
c  Katherine   16.5           2       oui
e      Emily    9.0           2       non
f    Michael   20.0           3       oui
g    Matthew   14.5           1       oui
i      Kevin    8.0           2       non
j      Jonas   19.0           1       oui

Colonnes 'name' et 'score' :
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

DataFrame après ajout de la ligne 'k' :
        name  score  tentatives qualifier
a  Anastasia   12.5           1       oui
b       Dima    9.0           3       non
c  Katherine   16.5           2       oui
d      James    NaN           3       non
e      Emily    9.0           2       non
f    Michael   20.0           3       oui
g    Matthew   14.5           1       oui
h      Laura    NaN           1       non
i      Kevin    8.0           2       non
j      Jonas   19.0           1       oui
k     Suresh   15.5           1       oui

DataFrame après suppression de la colonne 'tentatives' :
        name  score qualifier
a  Anastasia   12.5       oui
b       Dima    9.0       non
c  Katherine   16.5       oui
d      James    NaN       non
e      Emily    9.0       non
f    Michael   20.0       oui
g    Matthew   14.5       oui
h      Laura    NaN       non
i      Kevin    8.0       non
j      Jonas   19.0       oui
k     Suresh   15.5       oui

DataFrame avec la nouvelle colonne 'Succès' :
        name  score qualifier  Succès
a  Anastasia   12.5       oui       1
b       Dima    9.0       non       0
c  Katherine   16.5       oui       1
d      James    NaN       non       0
e      Emily    9.0       non       0
f    Michael   20.0       oui       1
g    Matthew   14.5       oui       1
h      Laura    NaN       non       0
i      Kevin    8.0       non       0
j      Jonas   19.0       oui       1
k     Suresh   15.5       oui       1

Le DataFrame final a été exporté vers 'my_data.csv'.